#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
# se debe reamplazar jorge por su nombre de dominio del anterior modulo sin el .com
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: willanrodriguez # Change me (nombre del dominio sin .com)
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDkM2qacluDWsq3eJrAKTundIjae83wLL8o3bYeP185zOeJrGbbVhDx4DKKLWgrfzIitdqfXFzakXcI2RZaYo4YyI876xO0PquKNQmpc/D265fT9cxjcfHRKATQvhnD8m5MiBKpeSMtji9BpoJpw47SfWyy4sWSGL/5CL4xMpCCVVWsL59kKkHHQ5MaNyq257KgF9jy1bomnn72VC4VyhVBY8Eg0XCkBmIuSQp0MqK25TGC9WCCIGL7uJtq5i0KrAFtlOdArQlQHg0ACJl2iR0K5AzE7pbRI82Iu3FdF3tkVGI1upsumT84Uwc2iElx044aOXhj2+RI8YpxxMX8EOrtSoW9DLUFPjYPUh0WUzY98ILFQF93CIWBcf+v+LzwxawvF+SvEehfXAerry/9ajnTkUGjtFEE/1yPH2zWStxEv3VuwtjLwPjWH652au+NX/+nRkrLsLrhB9SvZFOnEoj1Xx8jfTBE9jbQslHNwyGn9Nduchr9zsyw6gzjxebKLTE= william@william-virt
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
    lock_passwd: false
